body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:19px;
  width:299px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u7899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u7900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:79px;
  width:49px;
  height:29px;
}
#u7900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:138px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u7901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:329px;
  width:90px;
  height:22px;
}
#u7902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u7903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:174px;
  width:110px;
  height:19px;
  font-size:16px;
}
#u7903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:450px;
  width:127px;
  height:22px;
}
#u7904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:361px;
  width:572px;
  height:18px;
}
#u7905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u7906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:212px;
  width:115px;
  height:19px;
  font-size:16px;
}
#u7906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u7907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:835px;
  width:127px;
  height:22px;
}
#u7907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7908 {
  position:fixed;
  right:0px;
  top:405px;
}
#u7908_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:154px;
  height:226px;
  background-image:none;
}
#u7908_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
}
#u7909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u7910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:154px;
  height:57px;
}
#u7910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u7911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:154px;
  height:57px;
}
#u7911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u7912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:154px;
  height:57px;
}
#u7912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u7913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7913 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:399px;
  width:713px;
  height:18px;
}
#u7913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  white-space:nowrap;
}
#u7914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7914 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:583px;
  width:100px;
  height:60px;
}
#u7914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u7915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7915 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:715px;
  width:100px;
  height:60px;
}
#u7915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u7916 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:643px;
  width:0px;
  height:0px;
}
#u7916_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u7916_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:18px;
  height:19px;
}
#u7916_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7917 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:534px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u7918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7918 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1929px;
  width:152px;
  height:22px;
}
#u7918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7919 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:249px;
  width:111px;
  height:19px;
  font-size:16px;
}
#u7919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u7920 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1979px;
  width:739px;
  height:81px;
}
#u7921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u7922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u7922 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:180px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u7923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:31px;
}
#u7923 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:439px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:435px;
  word-wrap:break-word;
}
#u7924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u7924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:120px;
  height:50px;
}
#u7924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u7925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:31px;
  width:180px;
  height:50px;
}
#u7925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u7926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:50px;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:31px;
  width:439px;
  height:50px;
  text-align:left;
}
#u7926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:435px;
  word-wrap:break-word;
}
#u7928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1011px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:873px;
  width:374px;
  height:1011px;
}
#u7928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:214px;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:873px;
  width:375px;
  height:214px;
}
#u7929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:371px;
  word-wrap:break-word;
}
#u7930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:881px;
  width:30px;
  height:18px;
}
#u7930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:878px;
  width:30px;
  height:30px;
}
#u7931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:880px;
  width:20px;
  height:20px;
}
#u7932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:878px;
  width:10px;
  height:10px;
}
#u7933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  color:#FF0000;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1340px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  color:#FF0000;
}
#u7934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1368px;
  width:375px;
  height:1px;
}
#u7935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1330px;
  width:1px;
  height:39px;
}
#u7936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937 {
  position:absolute;
  left:210px;
  top:1341px;
}
#u7937_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
  background-image:none;
}
#u7937_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
}
#u7938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u7937_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:161px;
  height:18px;
  visibility:hidden;
  background-image:none;
}
#u7937_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:18px;
}
#u7939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1327px;
  width:375px;
  height:1px;
}
#u7940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1380px;
  width:59px;
  height:18px;
}
#u7941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:93px;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1588px;
  width:157px;
  height:93px;
}
#u7942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:153px;
  word-wrap:break-word;
}
#u7943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:170px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1408px;
  width:334px;
  height:170px;
}
#u7943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:330px;
  word-wrap:break-word;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1378px;
  width:2px;
  height:20px;
}
#u7945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:93px;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1588px;
  width:165px;
  height:93px;
}
#u7946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:161px;
  word-wrap:break-word;
}
#u7947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:116px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1201px;
  width:122px;
  height:116px;
}
#u7947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:118px;
  word-wrap:break-word;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:116px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:1201px;
  width:64px;
  height:116px;
}
#u7948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:60px;
  word-wrap:break-word;
}
#u7949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:1708px;
  width:30px;
  height:18px;
}
#u7949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7950_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1706px;
  width:2px;
  height:20px;
}
#u7950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:59px;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1744px;
  width:334px;
  height:59px;
}
#u7951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:330px;
  word-wrap:break-word;
}
#u7952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1712px;
  width:30px;
  height:18px;
}
#u7952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:116px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1201px;
  width:122px;
  height:116px;
}
#u7953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:118px;
  word-wrap:break-word;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1093px;
  width:351px;
  height:94px;
}
#u7954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1110px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u7955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1142px;
  width:73px;
  height:18px;
}
#u7956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1087px;
  width:375px;
  height:241px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:1625px;
  width:39px;
  height:39px;
}
#u7958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u7959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1470px;
  width:180px;
  height:18px;
}
#u7959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u7960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:984px;
  width:180px;
  height:18px;
}
#u7960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
