body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22862 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:7520px;
  width:9px;
  height:16px;
}
#u22862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u22864 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:160px;
  width:100px;
  height:467px;
}
#u22865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u22865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  font-size:18px;
}
#u22865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u22866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:100px;
  height:38px;
  font-size:18px;
}
#u22866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:390px;
}
#u22867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:100px;
  height:390px;
  font-size:18px;
}
#u22867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u22868 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:160px;
  width:467px;
  height:467px;
}
#u22869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:39px;
}
#u22869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:39px;
  font-size:18px;
  text-align:left;
}
#u22869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:463px;
  word-wrap:break-word;
}
#u22870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:38px;
}
#u22870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:467px;
  height:38px;
  font-size:18px;
  text-align:left;
}
#u22870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:463px;
  word-wrap:break-word;
}
#u22871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:390px;
}
#u22871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:467px;
  height:390px;
  font-size:18px;
  text-align:left;
}
#u22871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:463px;
  word-wrap:break-word;
}
#u22872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:50px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u22872 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:110px;
  width:567px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u22872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:563px;
  word-wrap:break-word;
}
#u22873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:179px;
}
#u22873 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:286px;
  width:376px;
  height:179px;
}
#u22873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:110px;
}
#u22874 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:506px;
  width:376px;
  height:110px;
}
#u22874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
