body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:720px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:722px;
  width:111px;
  height:22px;
  color:#0099FF;
}
#u12864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:10px;
  width:357px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u12865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u12866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:53px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:55px;
  width:111px;
  height:22px;
  color:#0099FF;
}
#u12867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:57px;
  width:325px;
  height:18px;
}
#u12874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u12875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:101px;
  width:306px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u12876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:143px;
  width:231px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u12877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:173px;
  width:300px;
  height:16px;
}
#u12877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:727px;
  width:316px;
  height:18px;
}
#u12878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u12879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:791px;
  width:306px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u12880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:596px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:101px;
  width:951px;
  height:596px;
}
#u12880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:602px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:791px;
  width:1178px;
  height:602px;
}
#u12881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:839px;
  width:231px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u12883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1428px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1430px;
  width:111px;
  height:22px;
  color:#0099FF;
}
#u12884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1435px;
  width:318px;
  height:18px;
}
#u12885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u12886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:613px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1482px;
  width:1181px;
  height:613px;
}
#u12886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:1482px;
  width:306px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u12888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:1530px;
  width:203px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u12889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:2125px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:2127px;
  width:93px;
  height:22px;
  color:#0099FF;
}
#u12890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:3106px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:3108px;
  width:111px;
  height:22px;
  color:#0099FF;
}
#u12892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:3752px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:3754px;
  width:130px;
  height:22px;
  color:#0099FF;
}
#u12894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u12895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4025px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4027px;
  width:130px;
  height:22px;
  color:#0099FF;
}
#u12896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u12897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4936px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u12898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4938px;
  width:111px;
  height:22px;
  color:#0099FF;
}
#u12898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:887px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:2174px;
  width:1175px;
  height:887px;
}
#u12899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:837px;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:3149px;
  width:1182px;
  height:837px;
}
#u12900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:848px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4078px;
  width:1182px;
  height:848px;
}
#u12901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:575px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4983px;
  width:1185px;
  height:575px;
}
#u12902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
