body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1363px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22224 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:25px;
  width:121px;
  height:23px;
  font-size:20px;
}
#u22224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u22225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22225 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:229px;
  width:75px;
  height:22px;
}
#u22225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22226 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:82px;
  width:75px;
  height:22px;
}
#u22226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22227 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:114px;
  width:569px;
  height:18px;
}
#u22227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u22228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22228 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:142px;
  width:151px;
  height:18px;
}
#u22228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u22229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22229 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:170px;
  width:200px;
  height:18px;
}
#u22229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u22230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:786px;
}
#u22230 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:286px;
  width:1326px;
  height:786px;
}
#u22230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22231 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1106px;
  width:185px;
  height:22px;
}
#u22231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u22232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CCFF;
}
#u22232 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1144px;
  width:291px;
  height:22px;
  color:#33CCFF;
}
#u22232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u22233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u22233 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1186px;
  width:430px;
  height:22px;
  color:#FF9966;
}
#u22233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u22234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CCFF;
}
#u22234 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1236px;
  width:144px;
  height:22px;
  color:#33CCFF;
}
#u22234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u22235 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1281px;
  width:401px;
  height:22px;
  color:#FF9966;
}
#u22235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u22236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22236 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1281px;
  width:290px;
  height:22px;
  font-size:18px;
}
#u22236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u22237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CCFF;
}
#u22237 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:1281px;
  width:167px;
  height:22px;
  font-size:18px;
  color:#00CCFF;
}
#u22237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u22238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1363px;
  height:27px;
}
#u22238 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1381px;
  width:1363px;
  height:27px;
}
#u22238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u22239 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1186px;
  width:669px;
  height:22px;
  color:#FF9966;
}
#u22239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  white-space:nowrap;
}
