body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1045px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:19px;
  width:299px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u13445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:81px;
  width:1045px;
  height:401px;
}
#u13447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u13447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:156px;
  word-wrap:break-word;
}
#u13448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:288px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:284px;
  word-wrap:break-word;
}
#u13449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:160px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:156px;
  word-wrap:break-word;
}
#u13450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:157px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:153px;
  word-wrap:break-word;
}
#u13451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:65px;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:280px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:276px;
  word-wrap:break-word;
}
#u13452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:116px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:160px;
  height:116px;
}
#u13452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:156px;
  word-wrap:break-word;
}
#u13453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:116px;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:65px;
  width:288px;
  height:116px;
}
#u13453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:284px;
  word-wrap:break-word;
}
#u13454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:116px;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:65px;
  width:160px;
  height:116px;
}
#u13454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:156px;
  word-wrap:break-word;
}
#u13455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:116px;
}
#u13455 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:65px;
  width:157px;
  height:116px;
}
#u13455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:153px;
  word-wrap:break-word;
}
#u13456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:116px;
}
#u13456 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:65px;
  width:280px;
  height:116px;
  text-align:left;
}
#u13456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u13457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u13457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:160px;
  height:110px;
}
#u13457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u13458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:110px;
}
#u13458 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:181px;
  width:288px;
  height:110px;
}
#u13458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:284px;
  word-wrap:break-word;
}
#u13459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u13459 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:181px;
  width:160px;
  height:110px;
}
#u13459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u13460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:110px;
}
#u13460 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:181px;
  width:157px;
  height:110px;
}
#u13460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:153px;
  word-wrap:break-word;
}
#u13461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:110px;
}
#u13461 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:181px;
  width:280px;
  height:110px;
  text-align:left;
}
#u13461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:276px;
  word-wrap:break-word;
}
#u13462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u13462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:160px;
  height:110px;
}
#u13462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u13463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:110px;
}
#u13463 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:291px;
  width:288px;
  height:110px;
}
#u13463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:284px;
  word-wrap:break-word;
}
#u13464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u13464 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:291px;
  width:160px;
  height:110px;
}
#u13464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u13465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:110px;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:291px;
  width:157px;
  height:110px;
}
#u13465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:153px;
  word-wrap:break-word;
}
#u13466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:110px;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:291px;
  width:280px;
  height:110px;
  text-align:left;
}
#u13466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:276px;
  word-wrap:break-word;
}
