body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1045px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u19405 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:19px;
  width:299px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u19405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u19406 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:81px;
  width:1045px;
  height:401px;
}
#u19407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u19407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:156px;
  word-wrap:break-word;
}
#u19408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
}
#u19408 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:288px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:284px;
  word-wrap:break-word;
}
#u19409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u19409 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:160px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:156px;
  word-wrap:break-word;
}
#u19410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
}
#u19410 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:157px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:153px;
  word-wrap:break-word;
}
#u19411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:65px;
}
#u19411 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:280px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:276px;
  word-wrap:break-word;
}
#u19412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:116px;
}
#u19412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:160px;
  height:116px;
}
#u19412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:156px;
  word-wrap:break-word;
}
#u19413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:116px;
}
#u19413 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:65px;
  width:288px;
  height:116px;
}
#u19413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:284px;
  word-wrap:break-word;
}
#u19414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:116px;
}
#u19414 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:65px;
  width:160px;
  height:116px;
}
#u19414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:156px;
  word-wrap:break-word;
}
#u19415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:116px;
}
#u19415 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:65px;
  width:157px;
  height:116px;
}
#u19415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:153px;
  word-wrap:break-word;
}
#u19416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:116px;
}
#u19416 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:65px;
  width:280px;
  height:116px;
  text-align:left;
}
#u19416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u19417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u19417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:160px;
  height:110px;
}
#u19417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u19418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:110px;
}
#u19418 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:181px;
  width:288px;
  height:110px;
}
#u19418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:284px;
  word-wrap:break-word;
}
#u19419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u19419 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:181px;
  width:160px;
  height:110px;
}
#u19419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u19420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:110px;
}
#u19420 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:181px;
  width:157px;
  height:110px;
}
#u19420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:153px;
  word-wrap:break-word;
}
#u19421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:110px;
}
#u19421 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:181px;
  width:280px;
  height:110px;
  text-align:left;
}
#u19421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:276px;
  word-wrap:break-word;
}
#u19422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u19422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:160px;
  height:110px;
}
#u19422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u19423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:110px;
}
#u19423 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:291px;
  width:288px;
  height:110px;
}
#u19423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:284px;
  word-wrap:break-word;
}
#u19424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
}
#u19424 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:291px;
  width:160px;
  height:110px;
}
#u19424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:156px;
  word-wrap:break-word;
}
#u19425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:110px;
}
#u19425 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:291px;
  width:157px;
  height:110px;
}
#u19425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:153px;
  word-wrap:break-word;
}
#u19426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:110px;
}
#u19426 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:291px;
  width:280px;
  height:110px;
  text-align:left;
}
#u19426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:276px;
  word-wrap:break-word;
}
